.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  padding: 0.5rem;
  position: sticky;
  top: 0;
}

.container h1 {
  font-size: 1.5rem;
  color: #fff;
}
