.container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}

.no-user {
  border: 1px solid var(--dark-gray);
  padding: 1rem 2rem;
  background-color: #fff;
  color: var(--dark-gray);
}
